h1{
    font-family: "Changa One", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 60px;

}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: rgb(143, 5, 94);
}
button:hover{
    background-color:rgb(236, 12, 158) !important;
    color: white !important;
}
button{
    background-color: aqua !important;
    font-size: 20px !important;
    border: 2px solid rgb(1, 109, 142)!important;
    color: rgb(1, 109, 142)!important;
}
body{
    background-color: lightcyan;
}